body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: rgb(14, 187, 187);
}

#upcorner {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

#mainsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: small;
}

#heaven {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
  padding: 20px;
}

#quote {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
